/* General */

* {
  font-family: Arial;
  color: #3f3d56;
}

.btn:hover {
  background-color: #3f3d56;
  color: #fff;
  border-color: #3f3d56;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

/* Header */

header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  padding: 10px;
}

.menu li {
  display: inline-block;
}

.menu li + li {
  margin-left: 8px;
}

.menu a {
  color: #6c63ff;
  font-size: 1em;
  display: block;
  padding: 10px;
}

.menu a:hover {
  color: #3f3d56;
}

/* Introduction */

.introduction {
  padding: 60px 0;
  text-align: center;
  background-image: url("../img/introduction_background.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.introduction h1 {
  font-size: 0.75em;
  margin-top: 60px;
}

.introduction h2 {
  font-size: 2.1875em;
  max-width: 400px;
  margin: 0 auto 40px auto;
}

.introduction h1::after {
  content: "";
  display: block;
  margin: 6px auto 20px auto;
  width: 49px;
  height: 1px;
  background-color: #3f3d56;
}
