/* Geral */

html {
  scroll-behavior: smooth;
}

*,
h1,
h2,
h3,
h4 {
  font-family: Arial;
  font-weight: 400;
}

a,
input,
textarea,
button {
  &:focus {
    outline: solid;
    outline-width: thin;
    outline-color: #6c66dd;
  }
}

button,
input,
textarea {
  &:hover {
    outline: solid;
    outline-width: thin;
    outline-color: #6c66dd;
  }
}

button,
input[type="submit"] {
  cursor: pointer;
}

.subtitulo_2 {
  margin: 10px 0;
}

.titulo {
  margin-bottom: 40px;
}

.corpo_de_texto {
  margin: 15px 0;
}

.container {
  padding: 40px 15px;
  margin: 0 auto;
  max-width: 1920px;

  &.container_left {
    padding-left: 0px;
  }
  &.container_right {
    padding-right: 0px;
  }
}

.btn {
  background-color: transparent;
  border: none;
}

.illustration {
  margin-bottom: 30px;

  img {
    display: block;
    width: 100%;
  }
}

.dobra img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 468px) {
  .container {
    padding: 40px 30px;
  }
}

@media screen and (min-width: 700px) {
  .container {
    padding-top: 90px;

    &.container_right {
      padding: 90px 0 0 95px;
    }
    &.container_left {
      padding: 40px 95px 40px 0;
    }
  }
}

@media screen and (min-width: 1023px) {
  .container {
    &.container_right {
      padding: 90px 0 0 221px;
    }
    &.container_left {
      padding: 40px 221px 40px 0;
    }
  }
}

@media screen and (min-width: 1279px) {
  .container {
    &.container_right {
      padding: 90px 0 0 115px;
    }
    &.container_left {
      padding: 40px 115px 40px 0;
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    &.container_right {
      padding: 90px 0 0 150px;
    }
    &.container_left {
      padding: 40px 150px 40px 0;
    }
  }
}

@media screen and (min-width: 1600px) {
  .container {
    &.container_right {
      padding: 90px 0 0 229px;
    }
    &.container_left {
      padding: 40px 229px 40px 0;
    }
  }
}

@media screen and (min-width: 1840px) {
  .container {
    &.container_right {
      padding: 90px 0 0 357px;
    }
    &.container_left {
      padding: 40px 357px 40px 0;
    }
  }
}

@media screen and (min-width: 1919px) {
  .container {
    &.container_right {
      padding: 90px 0 0 387px;
    }
    &.container_left {
      padding: 40px 387px 40px 0;
    }
  }
}
