/* Portfolio */

.portfolio .titulo {
  margin: 40px 0 0px;
}

.dobra img {
  top: -4px;
  position: relative;
}

/* Ilustração */

.portfolio__illustration {
  display: flex;
  justify-content: flex-end;
  max-width: 570px;
  margin: 0 0 30px auto;
}

.hand,
.finger,
.arm {
  transform-box: fill-box;
  transform-origin: center;
}

.hand {
  transform: rotate(0deg);
  animation: hand 1.3s ease infinite;
}

.finger {
  animation: finger 1.3s ease infinite;
}

.arm {
  animation: arm 1.3s ease infinite;
}

@keyframes hand {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(19deg);
  }
}

@keyframes finger {
  0%,
  100% {
    transform: rotate(0deg) translate(0px, 0px);
  }
  50% {
    transform: rotate(0deg) translate(-1px, -1.8px) scale(0.8);
  }
}

@keyframes arm {
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-3deg);
  }
}

/* Slide */

.slide {
  display: flex;
  overflow: hidden;
  margin-top: 20px;

  .slide__a_mostra {
    position: relative;
    min-width: 168px;
    height: 253px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: $light_cor_secundaria;
  }

  .slide__itens {
    display: flex;
    align-items: center;
    overflow: hidden;

    li {
      min-width: 110px;
      height: 165px;
      border-radius: 10px;
      background-color: $light_cor_secundaria;
    }

    li + li {
      margin-left: 10px;
    }
  }

  .slide__proximo_anterior {
    display: flex;
    position: absolute;
    bottom: 1px;
    right: -80px;

    .slide__proximo,
    .slide__anterior {
      background-color: transparent;
      width: 32px;
      height: 32px;
      padding: 0;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        outline: none;
        transform: scale(1.15);
      }
    }

    .slide__anterior {
      margin-right: 10px;
    }
  }
}

.portfolio_slide_2 {
  .subtitulo_1 {
    text-align: right;

    &:after {
      margin: 3px 0 10px auto;
    }
  }

  .slide {
    flex-direction: row-reverse;

    .slide__a_mostra {
      margin: 0 0 0 10px;
    }

    .slide__proximo_anterior {
      left: -80px;
    }
  }

  .slide__itens {
    flex-direction: row-reverse;

    li + li {
      margin: 0 10px 0 0;
    }
  }
}

/* Responsivo */

@media screen and (min-width: 700px) {
  .portfolio__illustration svg {
    width: 88%;
    height: 40%;
  }

  .portfolio_slide_2 .slide {
    .slide__proximo_anterior {
      left: -117px;
    }
  }

  .slide {
    .slide__a_mostra {
      min-width: 328px;
      height: 493px;
    }

    .slide__itens {
      li {
        min-width: 220px;
        height: 345px;
      }
    }

    .slide__proximo_anterior {
      right: -117px;

      .slide__proximo,
      .slide__anterior {
        width: 50px;
        height: 50px;
      }

      img {
        width: 50px;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .portfolio .titulo {
    margin: 90px 0 0px;
  }
}

@media screen and (min-width: 1279px) {
  .portfolio__illustration {
    max-width: 629px;

    svg {
      width: 100%;
    }
  }

  .slide .slide__a_mostra {
    min-width: 383px;
    height: 600px;
  }

  .slide .slide__itens li {
    min-width: 270px;
    height: 390px;
  }
}
