/* Quote */

.quote .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quote__illustration {
  min-width: 157px;
  margin: 0;
}

.quote blockquote {
  margin: 0 auto;

  .citacao {
    display: block;
    color: $light_cor_secundaria;
    margin: 3px 0;
    max-width: 122px;
  }

  .autor {
    color: $light_cor_primaria;

    &:after {
      content: none;
    }
  }
}

.quote .quote__dobra:last-child {
  img {
    top: 1px;
  }
}
