// Cores de fontes

$light_cor_primaria: #6c66dd;
$light_cor_secundaria: #3f3d56;
$dark_cor_primaria: #d8d6fa;
$dark_cor_secundaria: #eeeeff;

// Cores de background

$light_background: #fafaff;
$dark_background: #2f2e41;

// Fontes

$titulo: 1.5rem;
$subtitulo_1: 1.25rem;
$subtitulo_2: 1rem;
$subtitulo_pequeno: 0.75rem;
$corpo_de_texto: 0.875rem;
